.createNote{
    margin: 50px 0 50px 0;
}


.createContainer{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    margin: auto;
    border: 2px black solid;
}

.createNote input[type="text"], textarea{
    background-color: transparent;
    width: 100%;
    height:5vh;
    border: none;
    border-bottom: 2px solid rgb(98, 98, 98);
}

textarea{
    height: 5vh;
    resize: none;
}


textarea::-webkit-scrollbar { width: 0 !important }
textarea { overflow: -moz-scrollbars-none; }
textarea { -ms-overflow-style: none; }

.createNote input:focus{
    width: 100%;
    outline: none;
}


.createNote .bottom{
    margin-top: 20px;
    display: flex;
}

.createNote .colors{
display: flex;
width: 100%;
margin: 0 10px 0 10px;
}

.createNote .color{
    height:30px;
    width:30px;
    border-radius: 50%;
    margin: 0 10px 0 10px;
    
}

.createNote .active{
    border: 2px solid black;
}

.createNote .notActive{
    border: 1px solid rgb(167, 167, 167);
}


.createNote .exit{
    text-align: center;
    margin: 0;
    color: red;
    cursor: pointer;
    width: 20px
}
.createNote .exit:hover{
    border: 1px solid red;
}

.createNote h2{
    margin: 2px 0 5px 0
}

.pickOne{
    background-color: rgb(255, 252, 232);
}
.pickTwo{
    background-color: rgb(210, 245, 140);
}
.pickThree{
    background-color: rgb(207, 128, 153);
}
.pickFour{
    background-color: rgb(242, 177, 73);
}
.pickFive{
    background-color: aquamarine;
}

.createNote input[type="submit"]{
    display: inline-block;
    width: 25%;
    margin-top: 5px;
    color: #334747;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #334747;
    border-radius: 30px;
    /* Makes the semi-circle */
    box-shadow: inset 0 0 0 0 #334747;
    transition: .3s;
}

.createNote input[type=submit]:hover{
    color: #ffffff;
    box-shadow: inset 250px 0 0 0 #334747;
}

#top{
    height:0
}