*{
    box-sizing: border-box;
}
    
body{
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.homeWrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top:0
}
    
.homeContainer{
    width: 100%;
    max-width: 1200px;
    height: auto;
    background: rgb(198, 241, 255);
    box-shadow: 0 0 5px #999999;
}

nav{
    display: flex;
    background-color: rgb(210, 210, 210);
    width: 100%;
    height:70px;
    text-align: center;
    top: 0;
    position: sticky;
    border-bottom: 5px solid #383838;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.home nav h1{
    width: 750px;
    font-size: xx-large;
}

.home nav img{
    width: 40px;
    margin: 20px
}

.searchBar{
    width: 100%;
    text-align: center;
    margin: 10px auto 10px auto;
}

.searchBar input{
    display: inline-block;
    width: 300px;
    padding:10px;
    margin-top: 5px;
    color: #83B4B3;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #83B4B3;
    border-radius: 30px;
    /* Makes the semi-circle */
    box-shadow: inset 0 0 0 0 #83B4B3;
    transition: .3s;
    background-color: aliceblue;
}

.searchBar input[type="text"]:focus{
    outline-width: 0;
    border: 2px #D55534 solid;
    background-color: #83B4B3;
}

.searchBar input[type="text"]:focus::placeholder{
    color: #FFF0CE;
}

.notesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 25px;
    min-height: 100vh;
}

.note{
    top:0;
    /* background-color: rgb(131, 207, 255); */
    width: 300px;
    margin: 20px 40px;
    height: 270px;
    overflow-y: scroll;
    border-radius: 10px;
    /* border: 1px solid black;  */
    box-shadow: 0 0 10px #818181;
    transition: 1s;
    font-size: 16px;
}

.note:hover{
    scale: 1.3;
    font-size: 13px;
}

.note::-webkit-scrollbar { width: 0 !important }
.note { overflow: -moz-scrollbars-none; }
.note { -ms-overflow-style: none; }

.note .date{
    text-align: right;
    margin: 10px;
    color: #FFF0CE;
    background-color: rgba(56, 56, 56, .7);
}
.note .title{
    text-align: left;
    margin: 10px 30px;

}
.note .catagory{
    text-align: left;
    margin: 10px 30px;
    font-size: small;
    color: #D55534;
    background-color: rgba(56, 56, 56, .7);
    width: fit-content;
}

.note .text{
    text-align: left;
    margin: 10px 30px;
    color: #383838
}

.add{
    display: flex;
    position: sticky;
    background-color: #e7e7e7;
    color:#D55534;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 85%;
    left: 100%;
    margin: -90px 40px 0 0 ;
    justify-content: center;
    align-items: center;
    opacity: .7;
    border: 2px #666666 dashed ;
    cursor: pointer;
    z-index: 50;
    font-size: x-large;
}

.add:hover{
    background-color: #acd5e1;
    opacity: 1;
    animation: rotate 4s infinite;
}

a{
    text-decoration: none;
}

#top{
    height: 0;
}

.home .delete{
    border-radius: 50%;
    height: 25px;
    width:25px;
    justify-content: center;
    align-items: center;
    display: none;
    margin: -30px 0 -30px 5px;
    opacity: .5;
    
}
.note:hover .delete{
    position: sticky;
    top: 2%;
    display: flex;
    cursor: pointer;
}

.home .delete:hover{
    opacity: 1;
}

.home .edit{
    border-radius: 50%;
    height: 30px;
    width:30px;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: .5;
}

.edit img, .delete img{
    text-decoration: none;
    width:100%
}

.note:hover .edit{
    position: sticky;
    top: 230px;
    left: 88%;
    display: flex
}

.home .edit:hover{
    opacity: 1;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg)
    }
    25% {
      transform: rotate(45deg)
    }
    60%{
        transform: rotate(-30deg)
    }
    100%{
        transform: rotate(360deg)
    }

  }

  @media(max-width: 1154px){
    .homeWrapper{
        width:100%;
        margin:0;
    }
    .homeContainer{
        width:100%;
        margin:0;
    }
    .notesContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .note{
        margin:20px 10px;
        width:450px;
        height: 290px;
        font-size: 19px;
    }
    .note:hover{
        scale:1.15;
        font-size: 15px;
    }
    .note:hover .edit{
        top: 255px;
        left: 92%;
    }
    .home .add{
        top: 90%;
    }
}

@media(max-width: 940px){
    .homeWrapper{
        width:100%;
        margin:0;
    }
    .homeContainer{
        width:100%;
        margin:0;
    }
    .notesContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .note{
        margin:20px 10px;
        width:550px;
        height: 290px;
        font-size: 19px;
    }
    .note:hover{
        scale:1.05 ;
        font-size: 16px
    }
    .note:hover .edit{
        top: 257px;
        left: 94%;
    }
    .home .add{
        margin: 0;
        left: 85%;
    }
}

/* DEAN EDITS */
.note .close{
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border : none;
    outline: none;
    color: #D55534;
    overflow: hidden;
}
/* DEAN EDIT */
/* DEAN EDITS */
.note .note-footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
}
/* DEAN EDITS */
