*{
    box-sizing: border-box;
}
    
body{
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #eaeff4;
}

.homeWrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top:0
}
    
.homeContainer{
    width: 100%;
    max-width: 1200px;
    height: auto;
    background: #ffffff;;
    box-shadow: 0 0 5px #999999;

}

.home nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    top: 0;
    position: sticky;
    border-bottom: 5px solid #D55534;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.home nav h1{
    width: 1000px
}

.home nav p{
    width: 100;
}

.home nav a{
    width: 100;
}

.home nav img{
    width: 30px;
}

.searchBar{
    width: 100%;
    text-align: center;
    margin: 15px;
}

.searchBar input{
    display: inline-block;
    width: 300px;
    padding:10px;
    margin-top: 5px;
    color: #83B4B3;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #83B4B3;
    border-radius: 30px;
    /* Makes the semi-circle */
    box-shadow: inset 0 0 0 0 #83B4B3;
    transition: .3s;
}

.notesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #ffffff;
}

.note{
    top:0;
    background-color: rgb(131, 207, 255);
    width: 300px;
    margin: 20px 40px;
    height: 270px;
    overflow-y: scroll;
    border-radius: 10px;
    /* border: 1px solid black;  */
    box-shadow: 0 0 10px #818181;
    transition: 1s;
}

.note:hover{
    scale: 1.3;
}

.note::-webkit-scrollbar { width: 0 !important }
.note { overflow: -moz-scrollbars-none; }
.note { -ms-overflow-style: none; }

.note .date{
    text-align: right;
    margin: 10px;
    font-size:medium;
}
.note .title{
    text-align: left;
    margin: 10px 30px;

}
.note .catagory{
    text-align: left;
    margin: 10px 30px;
    font-size: small;
}

.note .text{
    text-align: left;
    margin: 10px 30px;
}

.add{
    display: flex;
    position: sticky;
    background-color: #e7e7e7;
    color:#D55534;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 85%;
    left: 100%;
    margin: -90px 40px 0 0 ;
    justify-content: center;
    align-items: center;
    opacity: .7;
    border: 2px #666666 dashed ;
    cursor: pointer;
    z-index: 50
}

.add:hover{
    background-color: #acd5e1;
    opacity: 1;
    animation: rotate 4s infinite;
}

a{
    text-decoration: none;
}

#top{
    height: 0;
}

.home .delete{
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width:30px;
    justify-content: center;
    align-items: center;
    display: none;
    margin: -30px 0 -30px 5px;
    opacity: .5;
}
.note:hover .delete{
    position: sticky;
    top: 2%;
    display: flex;
}

.home .edit{
    background-color: red;
    border-radius: 50%;
    height: 30px;
    width:30px;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: .5;
}

.edit a, .delete a{
    color: black;
    text-decoration: none;
}

.note:hover .edit{
    position: sticky;
    top: 230px;
    left: 88%;
    display: flex
}

.home .edit{
    color: blanchedalmond
}

@keyframes rotate {
    0% {
      transform: rotate(0deg)
    }
    25% {
      transform: rotate(45deg)
    }
    60%{
        transform: rotate(-30deg)
    }
    100%{
        transform: rotate(360deg)
    }

  }

  @media(max-width: 1154px){
    .notesContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .note{
        margin:20px 10px;
        width:450px;
    }
}

@media(max-width: 940px){
    .notesContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .note{
        margin:20px 10px;
        width:550px;
    }
}

/* DEAN EDITS */
.note .close{
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border : none;
    outline: none;
    color: #D55534;
    overflow: hidden;
}
/* DEAN EDIT */
/* DEAN EDITS */
.note .note-footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
}
/* DEAN EDITS */
