*{
    box-sizing: border-box;
}
    
body{
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #eaeff4;
}
    
.SignUpWrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.SignUpContainer{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 600px;
    height: auto;
    background: linear-gradient(#FFF0CE 0%, #FFF0CE 50%, #83B4B3 50%,#83B4B3 100% );
    box-shadow: 0 0 5px #999999;
    border-radius: 25px;
}
    

@media(max-width: 575px){
    .login .container{
    flex-direction: column;
    box-shadow: none;
    }
    .login .col-left,
    .login .col-right{
    width: 100%;
    margin: 0;
    clip-path: none;
    }
    .login .col-right{
    padding: 30px;
    }
            
}

.SignUp .SignUp-form{
    position: relative;
    width: 75%;
    margin: auto;
    padding: 15px;
}

.SignUp .SignUp-form p{
    margin: 10px 0 0px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
}

.SignUp .SignUp-form p:last-child{
    margin: 0;
    padding-top: 3px;
}
.SignUp .SignUp-form p a{
    color: #83B4B3;
    font-size: 14px;
    text-decoration: none;
}
.SignUp .SignUp-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

.SignUp .SignUp-form p:last-child label{
    width: 60%;
    float: left;
}

.SignUp .SignUp-form label span{
    color: #D55534;
    padding-left: 2px;
}

.SignUp .SignUp-form input{
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}
.SignUp .SignUp-form input:focus{
    border-color: #D55534;
}

.SignUp .SignUp-form input[type=submit] {
    width: 50%;
    margin: auto;
    color: #097392;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #097392;
    border-radius: 30px;
    /* Makes the semi-circle */
    box-shadow: inset 0 0 0 0 #097392;
    transition: 1s;
}

.SignUp .SignUp-form input[type=submit]:hover{
    color: #ffffff;
    box-shadow: inset 550px 0 0 0 #097392; 
    width: 75%
}

.SignUp input[type=text], input[type=password], input[type=email], input[type=date]{
    background-color: #ffffff;
    transition: .7s;
}

.SignUp input[type=text]:focus{
    background-color: #98c2c1;
    color: #ffffff;
}
.SignUp input[type=text]:focus::placeholder{
    color: #ffffff;
}
.SignUp input[type=password]:focus{
    background-color: #98c2c1;
    color: #ffffff;
}
.SignUp input[type=password]:focus::placeholder{
    color: #ffffff;
}
.SignUp input[type=email]:focus{
    background-color: #98c2c1;
    color: #ffffff;
}
.SignUp input[type=email]:focus::placeholder{
    color: #ffffff;
}
.SignUp input[type=date]:focus{
    background-color: #98c2c1;
    color: #ffffff;
}


#password{
    display: flex;
    align-items: center;
}

.submit{
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.SignUp h1{
    margin: 15px 0 15px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.input #password img{
    width: 30px;
    margin: -30px;
}

.test{
    text-align: center;
    color: wheat;
}